<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920158940222-1g4qse554nvga2alid2nhvc2uh0iil3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920158940222-1g4qse554nvga2alid2nhvc2uh0iil3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCXKHactb30kixJMfqpUtCZJ2QsPcd05A0</string>
	<key>GCM_SENDER_ID</key>
	<string>920158940222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.origens.testing</string>
	<key>PROJECT_ID</key>
	<string>origenstesting</string>
	<key>STORAGE_BUCKET</key>
	<string>origenstesting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920158940222:ios:a061896e9609ad8c71756f</string>
</dict>
</plist>