<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67347102756-pf6j84o8u2tjmn2vjckl4qtpfcg5g2je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67347102756-pf6j84o8u2tjmn2vjckl4qtpfcg5g2je</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>67347102756-4bn8n6prthcpi3l2v9n99cv7df95pgne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8fmbj9Mbxu7r99JieQOPBOUdmnNKWGXU</string>
	<key>GCM_SENDER_ID</key>
	<string>67347102756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.appeteat.elisir</string>
	<key>PROJECT_ID</key>
	<string>elisir-37b24</string>
	<key>STORAGE_BUCKET</key>
	<string>elisir-37b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67347102756:ios:921307ddd2938314362cb1</string>
</dict>
</plist>