<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738634765128-vnka94kse70nv5853e912bgr0rutvqpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738634765128-vnka94kse70nv5853e912bgr0rutvqpa</string>
	<key>API_KEY</key>
	<string>AIzaSyC6U_ve_9dWylI2AXoc5MUwr1JfmQ-BiSc</string>
	<key>GCM_SENDER_ID</key>
	<string>738634765128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.appeteat.infinito</string>
	<key>PROJECT_ID</key>
	<string>infinito-4a903</string>
	<key>STORAGE_BUCKET</key>
	<string>infinito-4a903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738634765128:ios:84b53722fde2bee1c9597d</string>
</dict>
</plist>